body{
    overflow: hidden;
    background: linear-gradient(90deg, darkmagenta, palevioletred);
}
*:focus{
    outline: 2px solid lightseagreen;
}
.container{
width: 100%;
height: 100vh;
align-content: center;
margin-left: 20%;
}

.searchicon{
    background: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 9px whitesmoke;
    color: white;
    font-weight: 900;
    font-size: larger;
}


.searchhand{
    display: grid;
    place-items: center;
    color: whitesmoke;
    font-size: largeR;
    font-weight: 700;
    width: 12px;
    height: 9%;
    background-color: #fff;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(-33.5deg);
    margin-left: 93px;
    margin-top:-12px ;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.searchhand:active {
    transform: translateY(-4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

    .searchhand:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: inherit;
    transform: scale(0.95);
    transition: transform 0.2s;
}

    .searchhand:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: inherit;
    transform: scale(1.05);
    transition: transform 0.2s;
  }

  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .tag {
    color: rgba(245, 245, 245, 0);
    font-size: large;
    display: flex;
    flex-direction: row;
    margin-top: -60px;
  }
  
  .letter {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .letter::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.295);
    transition: width 0.5s, height 0.5s;
  }
  
  .letter.ripple::after {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transition: width 0.5s, height 0.5s, opacity 0.1s;
  }
  
  .a {
    animation: tags 0.5s forwards;
    animation-delay: 0.5s;
  }
  .b {
    animation: tags 0.5s forwards; 
    animation-delay: 0.7s;
  }
  .c {
    animation: tags 0.5s forwards; 
    animation-delay: 0.9s;
  }
  .d {
    animation: tags 0.5s forwards; 
    animation-delay: 1.1s;
  }
  .e {
    animation: tags 0.5s forwards; 
    animation-delay: 1.3s;
  }
  .f {
    animation: tags 0.5s forwards; 
    animation-delay: 1.5s;
  }
  .g {
    animation: tags 0.5s forwards; 
    animation-delay: 1.7s;
  }
  .h {
    animation: tags 0.5s forwards; 
    animation-delay: 1.9s;
  }
  .i {
    animation: tags 0.5s forwards; 
    animation-delay: 2.1s;
  }
  .j {
    animation: tags 0.5s forwards; 
    animation-delay: 2.3s;
  }
  .k {
    animation: tags 0.5s forwards; 
    animation-delay: 2.5s;
  }
  .l {
    animation: tags 0.5s forwards; 
    animation-delay: 2.7s;
  }
  .m {
    animation: tags 0.5s forwards; 
    animation-delay: 2.9s;
  }
  .n {
    animation: tags 0.5s forwards; 
    animation-delay: 3.1s;
  }
  .o {
    animation: tags 0.5s forwards; 
    animation-delay: 3.3s;
  }
  
  @keyframes tags {
    50% {
      transform: scale(1.7);
      color: darkmagenta;
    }
    100% {
      transform: scale(1);
      color: whitesmoke;
    }
  }
